
<div>
    <h1>your info</h1>
  
    <h2> the name posted : <%= user_name %> </h2>
    <h2> the location posted : <%= location %> </h2>
    <h2> the language posted : <%= language %> </h2>
    
  
  </div>
  